<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tech Event">
    <meta name="keywords" content="The Summit Conference, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TechEvent</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ asset('Source/summit/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('Source/summit/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('Source/summit/css/flaticon.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('Source/summit/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('Source/summit/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('Source/summit/css/style.css')}}" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row bg-overlay">
            <div class="header">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html"><img src="{{ asset('Source/summit/img/capture.png')}}" alt="" ></a>
                    </div>
                    <div class="navigation mobile-menu">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a class="active" href="./index.html">Home</a></li>
                                    <li><a href="./speakers.html">Events</a></li>
                                    <li><a href="./tickets.html">Reservation</a></li>
                                    <li><a href="./blog.html">Forum</a></li>
                                    <li><a href="./contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="top-social">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#" class="search-btn search-trigger"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Search Bar Begin -->
<section class="search-bar-wrap">
    <span class="search-close"><i class="fa fa-close"></i></span>
    <div class="search-bar-table">
        <div class="search-bar-tablecell">
            <div class="search-bar-inner">
                <h2>Search</h2>
                <form action="#">
                    <input type="search" placeholder="Type Keywords">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Search Bar End -->
<!-- Hero Area Begin -->
<div class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-item set-bg" data-setbg="{{ asset('Source/summit/img/slider/bg-1.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span>February 9<sup>TH</sup> - 15<sup>TH</sup> 2019 </span>
                        <h1>Summit<br />Conference<br />2019</h1>
                        <h2 class="f-bold">World Trade Center, Gibraltar</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="{{ asset('Source/summit/img/slider/bg-2.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span>February 9<sup>TH</sup> - 15<sup>TH</sup> 2019 </span>
                        <h1>Summit<br />Conference<br />2019</h1>
                        <h2 class="f-bold">World Trade Center, Gibraltar</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="{{ asset('Source/summit/img/slider/bg-3.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span>February 9<sup>TH</sup> - 15<sup>TH</sup> 2019 </span>
                        <h1>Summit<br />Conference<br />2019</h1>
                        <h2 class="f-bold">World Trade Center, Gibraltar</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="{{ asset('Source/summit/img/slider/bg-4.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span>February 9<sup>TH</sup> - 15<sup>TH</sup> 2019 </span>
                        <h1>Summit<br />Conference<br />2019</h1>
                        <h2 class="f-bold">World Trade Center, Gibraltar</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->

<!-- Event Counter Begin -->
<section class="event-counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="event-name">
                    <h2>Next Event</h2>
                    <h4>August 25, 2019 <span>Starting @ 09:00 AM</span></h4>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="countdown-timer" id="countdown">
                    <div class="cd-item">
                        <span>56</span>
                        <p>Days</p>
                    </div>
                    <div class="cd-item">
                        <span>12</span>
                        <p>Hours</p>
                    </div>
                    <div class="cd-item">
                        <span>40</span>
                        <p>Minutes</p>
                    </div>
                    <div class="cd-item">
                        <span>52</span>
                        <p>Seconds</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Counter End -->
{% block body %}
{% endblock  %}

<!-- Footer Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row pb-70">
            <div class="col-lg-3 col-md-6">
                <div class="company-widget">
                    <h4>Company</h4>
                    <ul>
                        <li>Careers</li>
                        <li>Volunteers</li>
                        <li>Sustainability</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="event-widget">
                    <h4>Our Events</h4>
                    <ul>
                        <li>Web Summit - Rome</li>
                        <li>Collision - Madrid</li>
                        <li>RISE - Hong Kong</li>
                        <li>MoneyConf - Bucharest</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="links-widget">
                    <h4>Usefull Links</h4>
                    <ul>
                        <li>Pre-register for 2019</li>
                        <li>News</li>
                        <li>Support centre</li>
                        <li>Accessibility policy</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-widget">
                    <h4>Contact</h4>
                    <ul>
                        <li><i class="flaticon-placeholder-3"></i> <span>4127 Raoul Wallenber4127 Raoul Wallen berg
                                    Place</span></li>
                        <li><img src="{{ asset('Source/summit/img/phone.png')}}" alt=""> <span>203-808-8613</span></li>
                        <li><img src="{{ asset('Source/summit/img/envelop.png')}}" alt=""> <span>khayat.mohamed@esprit.tn</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <div class="term">Terms and Conditions</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- Js Plugins -->
<script src="{{ asset('Source/summit/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ asset('Source/summit/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('Source/summit/js/jquery.slicknav.js')}}"></script>
<script src="{{ asset('Source/summit/js/owl.carousel.min.js')}}"></script>
<script src="{{ asset('Source/summit/js/circle-progress.min.js')}}"></script>
<script src="{{ asset('Source/summit/js/jquery.countdown.min.js')}}"></script>
<script src="{{ asset('Source/summit/js/main.js')}}"></script>
</body>

</html>