{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservations list</h1>

    <table>
        <thead>
            <tr>
                <th>Idticket</th>
                <th>Idev</th>
                <th>Idpar</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'idTicket': reservation.idTicket }) }}">{{ reservation.idTicket }}</a></td>
                <td>{{ reservation.idEv }}</td>
                <td>{{ reservation.idPar }}</td>
                <td>{{ reservation.nom }}</td>
                <td>{{ reservation.prenom }}</td>
                <td>{{ reservation.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'idTicket': reservation.idTicket }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'idTicket': reservation.idTicket }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new reservation</a>
        </li>
    </ul>
{% endblock %}
