{% extends 'organisateur.html.twig' %}

{% block body %}

    <center>
        <h1>Ajouter Un Nouveau Evenement</h1>
        <table  class="table table-striped">

            <br>
            <br>
            {{ form_start(form) }}

            <tr><td>Nom Organisateur :*</td><td>{{ form_widget(form.nomOrg) }}</td></tr>
            <tr><td>Nom Event :* </td><td>{{ form_widget(form.nomEvent) }} </td></tr>
            <tr><td>Lieu :* </td><td>{{ form_widget(form.lieu) }} </td></tr>
            <tr><td>nombre de place :* </td><td>{{ form_widget(form.nbPlace) }} </td></tr>
            <tr><td>Date Event :* </td><td>{{ form_widget(form.dtEvent) }} </td></tr>
            <tr><td>Prix(dt) :* </td><td>{{ form_widget(form.prix) }} </td><tr>
            <tr><td>Description :* </td><td>{{ form_widget(form.description) }} </td><tr>
            <tr><td>Etat :* </td><td>{{ form_widget(form.etat) }} </td><tr>

            <td> <input type="submit" value="Create" class="btn btn-outline-success" /></td>

                {{ form_end(form) }}
        </table>
        <ul>
            <li>
                <a class="btn btn-outline-info" href="{{ path('event_index') }}">Back to the list</a>
            </li>
        </ul>

    </center>


{% endblock %}
