{% extends 'organisateur.html.twig' %}

{% block main %}
<br>
<br>
<br>
<br>
<br>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-primary">
    <center>
        <h1>Event</h1>

        <table  width="600"  class="table table-striped" >
            <tbody>

            <tr>
                <th>Nom Organisateur :</th>
                <td>{{ event.nomOrg }}</td>
            </tr>
            <tr>
                <th>Nom Event :</th>
                <td>{{ event.nomEvent }}</td>
            </tr>
            <tr>
                <th>Lieu :</th>
                <td>{{ event.lieu }}</td>
            </tr>
            <tr>
                <th>Nombre de Place :</th>
                <td>{{ event.nbPlace }}</td>
            </tr>
            <tr>
                <th>Date Event :</th>
                <td>{% if event.dtEvent %}{{ event.dtEvent|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prix (dt) :</th>
                <td>{{ event.prix }}</td>
            </tr>
            <tr>
                <th>Description :</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Etat :</th>
                <td>{{ event.etat }}</td>
            </tr>
            </tbody>


        <ul>


            <td><a class="btn btn-outline-info" href="{{ path('event_edit', { 'idEv': event.idEv }) }}">Modifier</a></td>

          <td>  {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-outline-danger">
            {{ form_end(delete_form) }}</td>

        </ul>
        </table>
        <td>  <a class="btn btn-outline-warning" href="{{ path('event_index') }}">Back to the list</a></td>

    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

{% endblock %}
