
{% extends 'admin.html.twig' %}
{% block body %}

    <center>
        <table border="1">
    <h1>Ajouter Un Nouveau Evenement</h1>
            <br>
            <br>
    {{ form_start(form) }}

         Nom Organisateur :* {{ form_widget(form.nomOrg) }}
            <br>
          Nom Event :* {{ form_widget(form.nomEvent) }}
            <br>
            Lieu :* {{ form_widget(form.lieu) }}
            <br>
            nombre de place :* {{ form_widget(form.nbPlace) }}
            <br>
             Date Event :* {{ form_widget(form.dtEvent) }}
            <br>
            Prix(dt) :* {{ form_widget(form.prix) }}
            <br>
            Description :* {{ form_widget(form.description) }}
            <br>
            Etat :* {{ form_widget(form.etat) }}
            <br>
        <input type="submit" value="Create" />

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('events_index') }}">Back to the list</a>
        </li>
    </ul>
        </table>
        </center>


<

{% endblock %}
