{% extends 'admin.html.twig' %}

{% block body %}
    <center>
    <h1>Event</h1>

    <table border="1" width="500" >
        <tbody>

            <tr>
                <th>Nom Organisateur :</th>
                <td>{{ event.nomOrg }}</td>
            </tr>
            <tr>
                <th>Nom Event :</th>
                <td>{{ event.nomEvent }}</td>
            </tr>
            <tr>
                <th>Lieu :</th>
                <td>{{ event.lieu }}</td>
            </tr>
            <tr>
                <th>Nombre de Place :</th>
                <td>{{ event.nbPlace }}</td>
            </tr>
            <tr>
                <th>Date Event :</th>
                <td>{% if event.dtEvent %}{{ event.dtEvent|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prix (dt) :</th>
                <td>{{ event.prix }}</td>
            </tr>
            <tr>
                <th>Description :</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Etat :</th>
                <td>{{ event.etat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

            <a href="{{ path('events_index') }}">Back to the list</a>
        <br>

            <a href="{{ path('events_edit', { 'idEv': event.idEv }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>

    </center>
{% endblock %}
